body {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dog-image {
    border: 10px solid black;
}

#main-heading {
    font-size: 20em;
    position: absolute;
    left: -60px;
    top: 0;
    transform: rotate(-90deg);
    
}

#question {
    font-size: 1.5em;
}

.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

}
.flex-container>div {
    background-color: #F1F1F1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#main-button {
    font-family: "Oswald", sans-serif;
    background: rgb(233, 212, 96);
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    height: 100px;
    width: 200px;
    font-size: 1.5em;
    font-weight: strong;
}

#main-button:hover {
    background: rgb(22, 160, 133);
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

#activity-response {
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0.5;
    border: 1px dotted black;
    width: 600px;
    

}

@keyframes wheelHueColor {

    from,
    to {
        color: rgb(236, 100, 75);
    }

    10% {
        color: rgb(219, 10, 91);
    }

    20% {
        color: rgb(174, 168, 211);
    }

    30% {
        color: rgb(89, 171, 227);
    }

    40% {
        color: rgb(37, 116, 169);
    }

    50% {
        color: rgb(3, 201, 169);
    }

    60% {
        color: rgb(22, 160, 133);
    }

    70% {
        color: rgb(233, 212, 96);
    }

    80% {
        color: rgb(243, 156, 18);
    }

    90% {
        color: rgb(236, 240, 241);
    }
}

#main-heading {
    color: rgb(236, 100, 75);
    animation: wheelHueColor 20s infinite;
    text-align: center;
    /* margin-top: 50vh; */
    /* transform: translateY(-50%); */
}

#title {
    font-size: 3em;
    margin: 0;
    padding: 0.5;
    border: 0;
    align-items: center;
    

}
#author {
    font-size: 2em;
    margin: 0;
    padding: 0.5;
    border: 0;
}
#story-text {
    font-size: 1em;
    margin: 0;
    padding: 0.5;
    border: 0;
    border: 1px dotted black;
    width: 600px;
}

#story-button {
    font-family: "Oswald", sans-serif;
    background: rgb(233, 212, 96);
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    height: 100px;
    width: 500px;
    font-size: 1.5em;
    font-weight: strong;
}

#story-button:hover {
    background: rgb(22, 160, 133);
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

#tetris-button {
    font-family: "Oswald", sans-serif;
    background: rgb(233, 212, 96);
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    height: 100px;
    width: 500px;
    font-size: 1.5em;
    font-weight: strong;
}

#tetris-button:hover {
    background: rgb(22, 160, 133);
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}
#myBtn {
    font-family: "Oswald", sans-serif;
    background: rgb(233, 212, 96);
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    height: 100px;
    width: 500px;
    font-size: 1.5em;
    font-weight: strong;
}

#myBtn:hover {
    background: rgb(22, 160, 133);
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

#adventureDiv {
    font-size: 1em;
    text-align: center;
        margin: 0;
        padding: 0.5;
        border: 0;
        border: 1px dotted black;
        width: 600px;

}
